.form-activity-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label-activity {
  width: 30%;
  text-align: left;
  margin-right: 10px;
}

.input-activity {
  flex: 1;
}


.textarea-activity {
  height: 100px; 
  resize: vertical;
}

section{
  background-color:#F4A261;
  padding : 5px;
}