body {
    background-color: #E9C46A;
    font-family: 'Verdana', sans-serif;;
}

#add-act{
    background-color : #E76F51;

}
#add-org{
    background-color : #E76F51;

}

.navbar{
    background-color: #2A9D8F;
}

.nav-item{
    background-color: #264653;
}

.nav-link{
    color: white;
}




